:root {
	/* background-image: url(./clock.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; */
	background: linear-gradient(133deg, rgba(209,209,227,1) 0%, rgba(210,75,205,1) 100%);
--timer-border: 1px solid #000000;
	--timer-height: 70%;
  --timer-width: 70%;
  --button-border: 3px solid #000000;
  --button-text-size: 2em;
}

body, div, p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1224px) {
	:root {
		--timer-height: 100%;
		--timer-width: 100%;
    --button-text-size: 4em;
  }
}